.dropdown {
    position: relative;
    display: inline-block;
    width: 260px;
    box-sizing: border-box;
  }
  .dropbtn {
    display: flex;
    background-color: #ffffff;
    color: #000;
    width: 260px;
    border: 0;
    border-radius: 4px;
    height: 40px;
    border: 1px solid #bbbbbb;
    font-size: 14px;
    font-weight: bolder;
    box-sizing: border-box;
    align-items: center;
  }
  .dropbtn-text {
    width: 220px;
    height: 100%;
    line-height: 40px;
    padding-left: 10px;
  }
  .dropbtn-icon {
    width: 39px;
    height: 40px;
    background-image: url("../../../assets/icon/down-arrow.png");
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: center;
    border-left: 1px solid #bbbbbb;
  }
  .dropbtn:hover {
    border: 1px solid #019160;
  }
  .drop-content {
    display: block;
    position: absolute;
    z-index: 99999999999999;
    width: 219px;
    background-color: #ffffff;
    padding-top: 3px;
    animation: animationPopup 2s forwards;
    border-left: 1px solid #bbbbbb ;
    border-right: 1px solid #bbbbbb;
  }
  .item {
    width: 100%;
    display: flex;
    height: 38px;
    border-bottom: 1px solid #bbbbbb;
    align-items: center;
    border-left: 1px;
    color: #000;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
  }
  .content-icon-default {
    width: 46px;
    height: 16px;
  }
  .contentIcon {
    background-image: url("../../../assets/icon/right-hand.png");
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: center;
  }
  .cbb-content-text {
    flex: 1;
    align-items: center;
  }
  .item:hover {
    background-color: #bbbbbb;
    cursor: pointer;
  }
  .item:hover .dropbtn {
    border: 2px solid #019169 !important;
  }
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-moz-keyframes fadein {
    /* Firefox */
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-o-keyframes fadein {
    /* Opera */
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }