/**
  CSS bảng khách hàng
  */

.grid {
  width: 100%;
  position: relative;
  height: 680px;
  overflow-y: auto;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.grid::-webkit-scrollbar {
  background-color: #d2d2d2;
  width: 6px;
}
.grid::-webkit-scrollbar-thumb {
  border-top-right-radius: 6px;
}
/* .grid-title{
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #bbbbbb;
}
.title-text{
  width: 20%;
  text-align: center;
}
.grid-content{
  flex: 1;
}

.row{
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-bottom: 1px solid #bbbbbb;
}
.row :hover{
  background-color: rgb(243, 235, 235);
}
.content-row{
  width: 20%;
  height: 35px;
  
} */
 table {
  width: 100%;
  border-spacing: 0;
  height: 36.875rem;
  box-sizing: border-box;
}
.contentRow {
  text-align: center;
  max-height: 40px;
  height: 40px;
  box-sizing: border-box;
}

tr:hover td {
  background-color: rgb(243, 235, 235);
}
th,
td {
  border-bottom: 1px solid #ddd;
}
.checkboxRow {
  padding-top: 7px;
  width: 18px;
  height: 18px;
}
.titleRow{
  position: sticky;
  background-color: #ffffff;
  top: 0;
  left: 0;
  max-height: 40px;
}
td{
  overflow: hidden;
}


.loaded {
  animation: fadein 2s;
  -moz-animation: fadein 2s; 
  -webkit-animation: fadein 2s; 
  -o-animation: fadein 2s; 
}
.loading{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  z-index: 5555;
}
.loading-icon{
  width: 100px;
  height: 40px;
  position: absolute;
  top:calc(50% - 20px);
  left: calc(50% - 50px);
} 
.test{
  max-height: 40px;
  height: 40px;
}
